<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.southintel.zaokin.base.mapper.UserMapper">


    <insert id="insertUser" parameterType="com.southintel.zaokin.base.entity.User">
        insert into tb_user ( user_name,tel) values (#{user_name},#{tel})
    </insert>

    <insert id="insertHximUser" parameterType="com.southintel.zaokin.base.entity.HximUser">
        insert into tb_hxim_user(user_name,account,password,nickname)values(#{user_name},#{account},#{password},#{nickname})
    </insert>

    <select id="isregister" resultType="java.lang.Integer">
        select count(1) from tb_user where tel = #{tel}
    </select>

    <select id="queryUserByTel" resultType="com.southintel.zaokin.base.entity.UserDto">
      select  b.person_name,
            b.company as "company",
            b.department,
            b.position,
            a.tel ,
            a.status,
            a.user_name,
            b.brief_introduction
		from tb_user a
		inner join tb_user_nature_person b on a.user_name =b.user_name and a.tel=#{tel}
    </select>

    <update id="updateUser">
        update tb_user
        <set>
            <trim suffixOverrides=",">
                <if test=" tel != null">
                    tel =#{tel},
                </if>
            </trim>
        </set>
        where user_name = #{user_name}
    </update>

    <select id="queryUserByUser_name" resultType="com.southintel.zaokin.base.entity.UserDto">
        select  b.person_name,
            b.company as "company",
            b.department,
            b.position,
            a.tel ,
            a.status,
            a.user_name,
            b.brief_introduction
		from tb_user a
		inner join tb_user_nature_person b on a.user_name =b.user_name and a.user_name=#{user_name}
    </select>

    <select id="queryHXUserByAccount" resultType="java.lang.Integer">
        select count(1) from tb_hxim_user where account =#{account}
    </select>
</mapper>