<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.southintel.zaokin.base.mapper.UserBrowseHistoryMapper">
    <insert id="insertUserBrowsing" parameterType="com.southintel.zaokin.base.entity.UserBrowseHistory">
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into user_browse_history (user_id,article_id,title,publish_department,publish_time,industry_category,document_type)
        values (#{userId},#{articleId},#{title},#{publishDepartment},#{publishTime},#{industryCategory},#{documentType})
    </insert>

    <select id="selectOnecreaTime" resultType="java.lang.String">
        select create_time from user_browse_history where id=#{id}
    </select>

    <insert id="deleteUserBrowsing" parameterType="java.lang.Integer">
        insert into user_browse_history (user_id,article_id,title)
        values (#{userId},-1,'')
    </insert>

    <select id="queryUserBrowsCount" resultType="java.lang.Integer">
        select count(1) from
        (
        select article_id from user_browse_history where user_id =#{userId} and create_time between
        ifnull((select create_time  from user_browse_history where user_id=#{userId} and article_id = -1 order by create_time desc  limit 1,1),0)
        and (select create_time  from user_browse_history where user_id=#{userId} and article_id = -1 order by create_time desc  limit 1)
        ) a where ifnull(a.article_id,0)
        <![CDATA[ <> ]]> -1
    </select>

    <select id="getUserBrowsing" resultType="com.southintel.zaokin.base.entity.UserBrowseHistoryTo" fetchSize="200">
        select
         article_id as 'policyId', title  as 'title', create_time as 'date',document_type as 'documentType',
        industry_category as 'industryCategory',publish_time as 'publishTime',publish_department as 'publishDepartment'
         from user_browse_history
         where user_id =#{params.userId} and ifnull(article_id,0) <![CDATA[ <> ]]>1 and  create_time>ifnull(
        (select create_time from user_browse_history where user_id=#{params.userId} and article_id=-1 order by create_time desc
        limit 1),0)
        <if test="params.beginDate !=null and params.beginDate!=''">
            and create_time  &gt;  concat(#{params.beginDate}," 00:00:00")
        </if>
        <if test="params.endDate !=null and params.endDate !=''">
            and create_time &lt; concat(#{params.endDate}," 23:59:59")
        </if>
        <if test="params.params.publishTime !=null and params.params.publishTime !=''">
            and publish_time = #{params.params.publishTime}
        </if>
        <if test="params.params.publishDepartment !=null and params.params.publishDepartment !=''">
            and publish_department = #{params.params.publishDepartment}
        </if>
        <if test="params.params.industryCategory !=null and params.params.industryCategory !=''">
            and industry_category = #{params.params.industryCategory}
        </if>
        <if test="params.params.documentType !=null and params.params.documentType !=''">
            and document_type = #{params.params.documentType}
        </if>
        order by create_time desc
        limit #{params.startIndex},#{params.pageSize}
    </select>

    <select id="getUserBrowsingTotal" resultType="java.lang.Integer">
        select count(1) from user_browse_history  where user_id =#{params.userId} and ifnull(article_id,0)<![CDATA[ <> ]]>-1 and  create_time>ifnull((
        select create_time from user_browse_history where user_id=#{params.userId} and article_id=-1 order by create_time desc
        limit 1),0)
        <if test="params.beginDate !=null and params.beginDate!=''">
            and create_time  &gt;  concat(#{params.beginDate}," 00:00:00")
        </if>
        <if test="params.endDate !=null and params.endDate !=''">
            and create_time &lt; concat(#{params.endDate}," 23:59:59")
        </if>
        <if test="params.params.publishTime !=null and params.params.publishTime !=''">
            and publish_time = #{params.params.publishTime}
        </if>
        <if test="params.params.publishDepartment !=null and params.params.publishDepartment !=''">
            and publish_department = #{params.params.publishDepartment}
        </if>
        <if test="params.params.industryCategory !=null and params.params.industryCategory !=''">
            and industry_category = #{params.params.industryCategory}
        </if>
        <if test="params.params.documentType !=null and params.params.documentType !=''">
            and document_type = #{params.params.documentType}
        </if>
    </select>

</mapper>